@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rokkitt:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: 'Fredoka One', cursive;
    @apply text-color-white;
    @apply bg-primary-100;
}

.description-text {
    font-family: 'Rokkitt', serif;
}